.direnv
.env
__pycache__/
node_modules/
run/
data-stores/cache/**
data-stores/static/heroicons/**
data-stores/static/weather-icons/**
!data-stores/cache/.gitkeep
!data-stores/static/heroicons/.gitkeep
!data-stores/static/weather-icons/.gitkeep
